// Place all the styles related to the Shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nuri-card {
  border-radius: 12px;
  border-style: solid;
  border-color: white;
}

.p-0 {
  padding: 0;
}